<nav class="navbar">
    <!-- Contenu de votre barre de navigation -->
  </nav>
  
  <div style="text-align:center">
    <h1>
      {{ title }}
    </h1>
    <img src="https://cdn-icons-png.flaticon.com/512/9790/9790561.png" alt="Description de l'image">
    <p>Bonjour ! Bienvenue sur notre site web. Nous sommes ravis de vous accueillir ici. Explorez nos services et nos produits, et n'hésitez pas à nous contacter si vous avez des questions. Nous sommes là pour vous aider !</p>
  </div>
  
  <footer class="footer">
    <!-- Contenu de votre pied de page -->
  </footer>
  